<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bill.system.dao.PhotosMapper" >
  <resultMap id="BaseResultMap" type="com.bill.system.entity.Photos" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="accountNumber" property="accountnumber" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, path, accountNumber, date,status
  </sql>
  <select id="selectByAccountnumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from personphotos
    where accountNumber = #{accountNumber,jdbcType=INTEGER} and status = 0;
  </select>

  <select id="selectByAccountnumberDelete" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from personphotos
    where accountNumber = #{accountNumber,jdbcType=INTEGER} and status = 1;
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
  update personphotos
   SET  status = 1
  where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="restoreByPrimaryKey" parameterType="java.lang.Integer" >
  update personphotos
   SET  status = 0
  where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.bill.system.entity.Photos" >
    insert into personphotos (id, path, accountNumber, 
      date)
    values (#{id,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{accountnumber,jdbcType=VARCHAR}, 
      #{date,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.bill.system.entity.Photos" >
    insert into personphotos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="accountnumber != null" >
        accountNumber,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="accountnumber != null" >
        #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bill.system.entity.Photos" >
    update personphotos
    <set >
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="accountnumber != null" >
        accountNumber = #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bill.system.entity.Photos" >
    update personphotos
    set path = #{path,jdbcType=VARCHAR},
      accountNumber = #{accountnumber,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>