<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="/static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <script src="/static/assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="/static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="commons/bar::topbar"></div>
    <!-- 风格切换 -->
    <div th:replace="commons/bar::theme"></div>

    <!-- 侧边导航栏 -->
    <div th:replace="commons/bar::#sidebar"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper" >

        <div class="row-content am-cf">
            <div class="row">

                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" >
                    <div class="widget am-cf" >
                        <div class="widget-head am-cf">
                            <a href="/bill/toBillSetting" class="am-icon-cog">
                                <div class="widget-function am-fr"  style="color: #19a7f0;font-size: large">账单添加
                                </div>
                            </a>

                            <a href="/bill/selectBillBriefList" class="am-icon-cog" style="margin-left: 50px">
                                <div class="widget-function am-fr"  style="color: #19a7f0;font-size: large">账单简略
                                </div>
                            </a>
                        </div>
                        <div class="widget-body am-fr">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                <tr>
                                    <th>账单类型</th>
                                    <th>添加人</th>
                                    <th>金额(元)</th>
                                    <th>添加时间</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX" th:each="bill : ${billList}">
                                    <td th:text="${bill.billtype}"></td>
                                    <td th:text="${bill.accountnumber}"></td>
                                    <td th:text="${bill.totalbill}"></td>
                                    <td th:text="${#dates.format(bill.billdate, 'YYYY-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${bill.memo}"></td>
                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a href="javascript:;">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a href="javascript:void(0)"  th:onclick="'javascript:billDelete('+${bill.billid}+');'"  class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>

                                        </div>
                                    </td>
                                </tr>

                                <!-- more data -->
                                </tbody>
                            </table>

                            <ul data-am-widget="pagination"
                                class="am-pagination am-pagination-default"
                            >

                                <li class="am-pagination-first ">
                                    <a href="#" class="">第一页</a>
                                </li>

                                <li class="am-pagination-prev ">
                                    <a href="#" class="">上一页</a>
                                </li>


                                <li class="am-active">
                                    <a href="#" class="am-active">1</a>
                                </li>
                                <li class="">
                                    <a href="#" class="am-active">2</a>
                                </li>
                                <li class="">
                                    <a href="#" class="">3</a>
                                </li>
                                <li class="">
                                    <a href="#" class="">4</a>
                                </li>
                                <li class="">
                                    <a href="#" class="">5</a>
                                </li>


                                <li class="am-pagination-next ">
                                    <a href="#" class="">下一页</a>
                                </li>

                                <li class="am-pagination-last ">
                                    <a href="#" class="">最末页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/static/assets/js/amazeui.min.js"></script>
<script src="/static/assets/js/amazeui.datatables.min.js"></script>
<script src="/static/assets/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/js/app.js"></script>

<script>
    function billDelete(id){
        $.ajax({
            url: "/bill/delete",
            type: "DELETE",
            data: id,
            success: function( data ) {
                if(data.result==true){
                    alert(data.msg);
                    window.location.href="/bill/Setting";
                }else{
                    alert(data.msg);
                }
            },
            dataType: "JSON"
        });
    }


</script>
</body>

</html>