<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <script src="/static/assets/js/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/assets/css/app.css">


</head>

<body data-type="login">
<script src="/static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <div class="tpl-login" style="margin-top: -50px">
        <div class="tpl-login-content">
            <div class="tpl-login-logo">

            </div>
            <form class="am-form tpl-form-line-form"   >
                <div id="codeShow" data-am-validator>
                    <div  style="color: red"   id="codeMsg"></div>
                    <fieldset>
                        <div class="am-form-group">
                            <input type="email" class="tpl-form-input am-form-field" name="email" id="mail" placeholder="输入邮箱" required/>
                        </div>

                        <div class="am-form-group">
                            <button type="button" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn" id="getCode" ONCLICK="senCode()">获取验证码</button>
                        </div>
                     </fieldset>
                </div>
            </form>

                <div id="passwordShow" data-am-validator>
                <form id="form" class="am-form tpl-form-line-form">
                    <fieldset>
                        <p  style="color: red"  id="msg"></p>
                        <div class="am-form-group " >
                            <input type="text" class="tpl-form-input" name="code" id="code" placeholder="请输入验证码" required>
                            <div  style="color: red"   id="putCode"></div>
                        </div>
                        <div class="am-form-group " >
                            <input type="password" class="tpl-form-input" name="password"  placeholder="请输入六位以上的新密码"  pattern="^(\w){6,20}" required id="password">
                            <div  style="color: red"   id="putPassword"></div>
                        </div>
                        <div class="am-form-group">
                            <input type="password" class="tpl-form-input" name="passwordAgain" placeholder="请确认新密码" id="passwordAgain" data-equal-to="#password"  required>
                            <div  style="color: red"   id="putPasswordAgain"></div>
                        </div>
                        <div class="am-form-group">
                            <button type="button" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn" onclick="submitPassword()">提交</button>
                        </div>
                    </fieldset>
                </form>
              </div>
        </div>
    </div>
</div>
<script src="/static/assets/js/amazeui.min.js"></script>
<script src="/static/assets/js/app.js"></script>
<script>
    $(function() {
        var passwordShow = $('#passwordShow');
        for (var i = 0; i < passwordShow.length; i++) {
            passwordShow[i].style.display = "none";
        }
        ;
        var codeShow = $('#codeShow');
        for (var i = 0; i < codeShow.length; i++) {
            codeShow[i].style.display = "";
        };

    });

    function senCode(){
        var mail = $("#mail").valueOf();
        var data = $("#mail").val();
        var myreg = /[1-9]\d{7,10}@qq\.com/;
        console.log(mail);
        if(!myreg.test(data))
        {
            $("#codeMsg").html('请输入有效的邮箱！');
            console.log("PLL")
            return false;
        }
        $.ajax({
            url: "/sendCode",
            type: "POST",
            data: mail,
            dataType: "JSON"
        });
        $("#msg").html('验证码已发送，请查收!!！');
        var passwordShow = $('#passwordShow');
        for (var i = 0; i<passwordShow.length;i++) {
            passwordShow[i].style.display="";
        };

        var codeShow = $('#codeShow');
        for (var i = 0; i<codeShow.length;i++) {
            codeShow[i].style.display="none";
        };
    }
    function submitPassword(){
        var code = $("#code").val();
        var password = $("#password").val();
        var passwordAgain = $("#passwordAgain").val();
        var mail = $("#mail").val();
        if(code===""||code===null){
            $("#putCode").html('请输入验证码！！！');
            return false;
        }
        if(password===""||password===null){
            $("#putPassword").html('请输入密码！！！');
            return false;
        }
        if(passwordAgain===""||passwordAgain===null){
            $("#passwordAgain").html('请确认密码！！！');
            return false;
        }

        var data = {"code":code,"password":password,"email":mail};
        $.ajax({
            url: "/updatePassword",
            type: "POST",
            data: data,
            success:function (data) {
                if(data.result==true){
                    alert(data.msg);
                    window.location.href="/login";
                }else{
                    alert(data.msg);
                }
            },
            dataType: "JSON"
        });

    }


</script>
</body>

</html>