<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <script src="/static/assets/js/jquery.min.js"></script>

</head>

<body data-type="login">
    <script src="/static/assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <div class="tpl-login" style="margin-top: -50px">
            <div class="tpl-login-content">
                <div class="tpl-login-title">注册用户</div>
                <span class="tpl-login-content-info">
                  创建一个新的用户
              </span>


                <form class="am-form tpl-form-line-form" data-am-validator>
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" name="email" id="email" placeholder="邮箱">
                        <p  style="color: red"  id="codeMsg"></p>
                        <p>
                            <input placeholder="输入验证码" class="tpl-form-input" id="code"  style="height: 36px;background-color: beige"> <button type="button" class="tpl-login-btn" id="codeButtom" onclick="getCode()">获取验证码</button>
                           <div  style="color: red"   id="putCode"></div>
                        </p>

                    </div>

                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" id="accountnumber" name="accountnumber" placeholder="用户名" required>
                        <div  style="color: red"   id="putAccountnumber"></div>
                    </div>
                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" id="password" name="password" placeholder="请输入六位以上的新密码" pattern="^(\w){6,20}" required >
                        <div  style="color: red"   id="putPassword"></div>
                    </div>

                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" id="passwordAgain" placeholder="再次输入密码"  data-equal-to="#password" required>
                        <div  style="color: red"   id="putPasswordAgain"></div>
                    </div>

                    <div class="am-form-group tpl-login-remember-me">
                        <input id="remember-me" type="checkbox">
                        <label for="remember-me">
       
                        我已阅读并同意 <a href="javascript:;">《用户注册协议》</a> 
                         </label>

                        <a th:href="@{/login}">
                            <label th:text="#{login.bottom}">注册</label>
                        </a>
                    </div>

                    <div class="am-form-group">
                        <button type="button" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn" onclick="signUp()">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/app.js"></script>

</body>

</html>

<script>
    function getCode() {
        var mail = $("#email").valueOf();
        var data = $("#email").val();
        var myreg = /[1-9]\d{7,10}@qq\.com/;
        console.log(mail);
        if (!myreg.test(data)) {
            $("#codeMsg").html('请输入有效的邮箱！');
            console.log("PLL")
            return false;
        }
        $.ajax({
            url: "/sendCode",
            type: "POST",
            data: mail,
            dataType: "JSON"
        });
        $("#codeMsg").html("验证码已发送，请查收!"+ 60+"s后可重新发送");
        $("#codeButtom").hide();
        setTimeout(function () {$("#codeButtom").show();},60000)}



    function signUp() {
        var code = $("#code").val();
        var email = $("#email").val();
        var accountnumber = $("#accountnumber").val();
        var password = $("#password").val();
        var mail = $("#email").val();
        var myreg = /[1-9]\d{7,10}@qq\.com/;

        if (!myreg.test(mail)) {
            $("#codeMsg").html('请输入有效的邮箱！');
            console.log("PLL")
            return false;
        }
        if(code===""||code===null){
            $("#putCode").html('请输入验证码！！！');
            return false;
        }
        if(accountnumber===""||accountnumber===null){
            $("#putAccountnumber").html('请输入用户名！！！');
            return false;
        }
        if(password===""||password===null){
            $("#putPassword").html('请输入密码！！！');
            return false;
        }

        var data = {"code": code, "password": password,"accountnumber":accountnumber,"email":email};
        $.ajax({
            url: "/toSignUp",
            type: "POST",
            data: data,
            success: function (data) {
                if (data.result == true) {
                    alert(data.msg);
                    window.location.href = "/login";
                } else {
                    alert(data.msg);
                }
            },
            dataType: "JSON"
        });
    }
</script>